.cotaner{
    background-color: #1C1816;
    width: 800px;
    height: 400px;
    margin: 0px 100px;
}
.im{
    margin-top: 10px;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 5px;
}
.t{
    text-align: center;
}
.b{
    padding: 10px 30px;
    background-color: red;
    color: white;
    border: none;
}
.sm{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.m{
    padding-bottom: 10px;
    padding-right: 20px;
}
.container1{
    width: 800px;
    height: 295px;
    margin-left: 80px;
}
.carrd{
    box-shadow: rgb(248, 244, 244) 0px 14px 28px, rgb(240, 235, 235) 0px 10px 10px;
}
.cont{
    background-color: #1C1816;
    margin-left: -80px;
    width: 380px;
    height: 508px;
    position: fixed;
}
.l{
    background-color: red;
    height: 2px;
}
.box1{
    width: 350px;
    height: 100px;
    background-color: black;
}
.box2{
    width: 350px;
    height: 200px;
    background-color: black;
}
.badge{
    background-color: red;
    width: 380px;
    height: 60px;
    text-align: left;
    padding-top: 15px;
}
.tex{
    text-align: right;
}
